.image{
  margin-top:5% !important;
}
.left{
  float: left;
}
.right{
  float: right;
}
.customPaper{
  margin-left: 33% !important;
}
.customList{
  margin-right: 15% !important;
}
.customTitle{
  font-size:x-small !important;
  margin-top: 5% !important;
}
.viewCount{
    font-size:x-small !important;
}
.detailsButton{
  margin-left: 47% !important;
}
.t{
  margin-right: 15% !important;
}
.svgColor{
fill:white !important;
}
.container{
  margin-top: 2%;
}
#i:hover {
    -webkit-transform: scale(1.3);
       -ms-transform: scale(1.3);
       transform: scale(1.3);
}
